{#
SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=ClickHouse ({{ clickhouse_identifier }})
{% for service in clickhouse_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in clickhouse_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ clickhouse_container_stop_grace_time_seconds }} {{ clickhouse_identifier }} 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ clickhouse_identifier }} 2>/dev/null'

{#
CAP_SYS_NICE is required or ClickHouse fails with "get_mempolicy: Operation not permitted".
#}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name {{ clickhouse_identifier }} \
			--log-driver=none \
			--user={{ clickhouse_uid }}:{{ clickhouse_gid }} \
			--cap-add=CAP_SYS_NICE \
			--network={{ clickhouse_container_network }} \
			{% if clickhouse_container_clickhouse_host_bind_port %}
			-p {{ clickhouse_container_clickhouse_host_bind_port }}:8123 \
			{% endif %}
			{% if clickhouse_container_http_host_bind_port %}
			-p {{ clickhouse_container_http_host_bind_port }}:8123 \
			{% endif %}
			--env-file={{ clickhouse_base_path }}/env \
			--mount type=bind,src={{ clickhouse_data_path }},dst=/var/lib/clickhouse \
			--mount type=bind,src={{ clickhouse_config_path }}/config.yaml,dst=/etc/clickhouse-server/config.d/config.yaml,ro \
			--mount type=bind,src={{ clickhouse_backups_path }},dst=/backups \
			--tmpfs=/tmp:rw,noexec,nosuid,size=512m \
			{{ clickhouse_container_image }}

{% for network in clickhouse_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ clickhouse_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ clickhouse_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ clickhouse_container_stop_grace_time_seconds }} {{ clickhouse_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ clickhouse_identifier }} 2>/dev/null'

Restart=always
RestartSec=30
SyslogIdentifier={{ clickhouse_identifier }}

[Install]
WantedBy=multi-user.target
